@model EvesysWebApp.Models.Evento

@{
    ViewData["Title"] = "Eliminar Evento";
}

<h1>Eliminar Evento</h1>

<h3>¿Estás seguro de que quieres eliminar este evento?</h3>
<div>
    <h4>Evento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class="col-sm-3">
            Usuario Creador
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Usuario.NombreCompleto)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="EventoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la Lista</a>
    </form>
</div>