@model IEnumerable<EvesysWebApp.Models.Evento>

@{
    ViewData["Title"] = "Lista de Eventos";
}

<h1>Lista de Eventos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Evento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                Usuario Creador
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaHora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.NombreCompleto)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EventoId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.EventoId">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.EventoId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>